<h1>tweet一覧</h1>
<p><%= notice %></p>
<div class="top_page">
  <table>
  <tr>
    <th>　　　</th>
    <th>内容</th>
    <th>編集</th>
    <th>削除</th>
  </tr>
<% @words.each do |word| %>
  <tr>
    <td><%= word.content %></td>
    <td><%= link_to '確認する', word_path(word.id) %></td>
    <td><%= link_to "編集する", edit_word_path(word.id) %></td>
    <td><%= link_to '削除する', word_path(word.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
  </tr>
<% end %>
  </table>
</div>
<br>
